__pycache__/
*.py[cod]
.env
.venv/
data/input_xml/*
data/output_excel/*
data/archive/*
!data/**/.gitkeep
logs/*.log
# Bases de datos y logs
*.db
*.db-shm
*.db-wal

# Certificados y llaves
*.pem
https-cert.pem

# Python
__pycache__/
*.pyc